* {
    margin: 0;
    padding: 0;
    background-color : #f0f2f5;
}
.logobox{
    width: 55%;
    height: 600px;
    text-align: left;
    font-size: 20px;
    margin-left: 50px;
    background-color: aqua;
}

.loginbox{
    width: 40%;
    height: 300px;
    float: right;
    border: 1px solid #aaa;
    border-radius: 10px;
    background-color: chocolate;
    box-shadow: 2px 2px 3px #ddd;
    text-align: center;
}

div>section>input[type=text]{
    margin-left: 10px;
    width: 90%;
    height: 40px;
    border-radius: 7px;
    color:#aaa;
    margin-top: 10px;
    margin-bottom: 5px;

}


div>section>input[type=submit]{
    width: 90%;
    height: 40px;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    background-color: #3578e5;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.2em;
}

div>section>input[type=submit]:hover{
    background-color: #2867cc;
}

div>section>hr{
    width: 80%;
    border: 1px solid #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
}

div>section>p1{
    text-align: center;
    margin-top: 20px;
}

div>section>p1{
    color:  #3578e5;
}

div>section>p1:hover{
    text-decoration-line: underline;
}

div>section>p2{
    display: block;
    width: 150px;
    height: 30px;
    text-align: center;
    background-color:rgb(45, 161, 45) ;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 30px;
}

div>section>p2:hover{
    background-color:green;
}

div>section>input[type=submit]{
    margin-left: 10px;
    text-align: center;
    width:90%
}