* {
    margin: 0;
    padding: 0;
}

body{
    background-color :#f5f6f7;
}
header{
    text-align: center;
}
div{
   margin: 0 auto;
    /* background-color: olive; */
    width: 400px;
}

.p1{
    font-size: 80%;
    color: #aaa;
}

div>section{
    text-align: left;
}

.naverlogo{
    width: 200px;
    height: 40px;
    margin-top: 100px;
    margin-bottom: 40px;
}

.joinbox{
    font-weight: bold;
    
}

div>section>input[type=text]{
    width: 100%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
    border : 1px solid #ccc;
    color: #aaa;
    padding-left: 5px;    
    
}

#email{
    text-align: right;
    padding-right : 5px;
}

div>section>select{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border : 1px solid #ccc;
}
/* 
div>section>input[type=submit]{
    width:30%;
    height: 40px;
    background-color: #03c75a;
    color: white;
    font-weight: bold;
    text-align: right;
} */

div>section>input[type=submit]{
    width: 101.5%;
    height: 40px;
    background-color: #03c75a;
    color: white;
    font-weight: bold;
    /* margin-bottom: 15px; */
}

#ymd{
    width: 124.5px;
    display: inline-block;
}

.loginbox>div>.joinbox>.p1{
    color:rgb(133, 133, 133);
    margin-left: 5px;
}

div>section>input[type=button]{
    width: 30%;
    height: 40px;
    background-color: #03c75a;
    color: white;
    margin-bottom: 5px;
    display: inline-block;
}

#protectnum{
    width : 64%;
    display: inline-block;
    margin-right: 5px;
}

#protectbutton{
    width: 30%;
    display :inline-block;
}

.footer_wrap{
    margin-bottom: 30px;
}

footer{
    text-align: center;
    font-size: 10.8px;
    margin-top: 20px;
}

footer>ul{
    list-style: none;
    overflow: hidden;
}

footer>ul>li{
    margin-left: 4px;
    float:left ;
}

footer>ul>li:hover{
    color: olive;
    text-decoration: underline;
}

.p3{
    font-weight: bold;
}

div>.footer2{
    font-size: 12px;
    color:rgb(134, 130, 130);
}

.naverlogo2{
    width: 50px;
    margin-right: 10px;
}

div>.footer2>p{
    font-weight: bold;
    display: inline-block;
    padding-top: 5px;
}