* {
    margin: 0;
    padding: 0;
    background-color : #f0f2f5;
}
.logobox{
    width: 55%;
    height: 600px;
    text-align: left;
    font-size: 20px;
    margin-left: 50px;
    background-color: aqua;
}

.loginbox{
    width: 40%;
    float: right;
    border: 1px solid #aaa;
    border-radius: 10px;
    background-color: chocolate;
}

div>section>input[type=text]{
    margin-left: 10px;
}

div>section>hr{
    width: 80%;
    border: 1px solid #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

div>section>p1{
    text-align: center;
}

div>section>p1:hover{
    text-decoration-line: underline;
}

div>section>p2{
    width: 20%;
    height: 30px;
    background-color:rgb(45, 161, 45) ;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
}
div>section>p2:hover{
    background-color:green;
}

div>section>input[type=submit]{
    margin-left: 10px;
    text-align: center;
    width:90%
}